.createGroups {
    width: 20rem;
    margin-left: 10rem;
}

input, textarea {
    min-width: 19rem;
    width: 19rem;
}

textarea {
    height: 3rem;
    font-family: "Poppins";
}

.uploadImg {
    display: block;
    background-color: var(--compBg);
    border-radius: 5px;
    padding: 0.5rem 0.5rem 0 0.5rem;
    margin-bottom: 0.5rem;
}

.uploadImg p {
    margin: 0;
    font-size: small;
}
