.createExercise {
    margin-top: -8px;

}

.exercisesAndForm {
    display: flex;
}

/* dropdown */
.dropdown-container {
    background-color: var(--compBg);
    border-radius: 5px;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    
  }
  .dropdown-input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    width: 350px;
  }
  .dropdown-menu {
    transform: translateY(4px);
    margin: 3px;
    overflow: auto;
    max-height: 150px;
  }
  .dropdown-item {
    padding: 5px;
    cursor: pointer;
  }
  .dropdown-item:hover {
    color: var(--primary);
  }
  .dropdown-item.selected {
    background-color: var(--primary);
    color: #fff;
  }
  .dropdown-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  .dropdown-tag-item {
    background-color: #ddd;
    padding: 2px 4px;
    border-radius: 2px;
    display: flex;
    align-items: center;
  }
  .dropdown-tag-close {
    display: flex;
    align-items: center;
  }
  label {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  label input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 10px;
  }
  input[type="checkbox"] {
    margin-right: 10px;
  }
  select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 200px;
    background-color: var(--compBg);
    color: var(--textClr);
  }
  select option {
    background-color: var(--compBg);
    color: var(--textClr);
  }
  button.button {
    margin-top: 10px;
  }
  .error {
    color: var(--error);
  }
  
  


  